body{
    background-color: darkgrey;
}
container{
    display: flex;
    align-items: flex-start;
    gap: 40px;;

}
burger{
    width: 400px;
    height: auto;

}
.header{
    text-align: center;  
}

.logo{
    width: 200px;         
    display: block;
    margin: 0 auto;      
}

h1{
    margin-top: 10px;
}
.login {
    width: 300px;
    margin: 100px auto;
}